<h1><%= header %></h1>
<% if @profile.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

    <ul>
    <% @profile.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_tag url, method: method_variable, enctype: "multipart/form-data" do %>

<%= label_tag(:photo) %>
<%= file_field_tag(:photo) %>

<div>
  <%= label_tag :username %>
  <%= text_field_tag :username, @competitor.username %>
</div>

<div>
<form action= "/action_page.php">
  Birthdate:
  <input type="date" name="birthdate" value="<%= @profile.birthdate %>">
  <input type="submit">
</div>

<div>
  Gender:
  <input class="form-control" type="text"  name="gender" value="<%= @profile.gender %>">
</div>

<div>
  Orientation:
  <input class="form-control" type="text"  name="orientation" value="<%= @profile.orientation %>">
</div>

<div>
  Bio:
  <input class="form-control" type="text"  name="bio" value="<%= @profile.bio %>">
</div>

<div>
  Preferred Opponent:
  <input class="form-control" type="text"  name="preferred_opponent" value="<%= @profile.preferred_opponent %>">
</div>

<div>
  Preferred Age Range:
  <input class="form-control" type="text"  name="preferred_age_range" value="<%= @profile.preferred_age_range %>">
</div>

<div>
  Distance Limits:
  <input class="form-control" type="text"  name="distance_limits" value="<%= @profile.distance_limits %>">
</div>

<div>
  Default Games:
  <%= select_tag 'default_games', options_for_select(['Trivias', 'blah blah', 'blah']) %>
</div>

<div>
  <input type="submit" name="Save profile!">
</div>
<% end %>