<h1>Welcome to the game!</h1>

<div ng-app="app">
  <div ng-controller="triviaCtrl" ng-init="setup(<%= @game.id %>, <%= @game.wager.id %>)">
    {{ message }}
    <timer countdown="30" interval="1000"><div class="progress progress-striped active {{displayProgressActive}}"style="height: 30px;"> Remaining time : {{countdown}} second{{secondsS}} ({{progressBar}}%). Activity? {{displayProgressActive}} <div class="bar" style="min-width: 2em;width: {{progressBar}}%;"></div> </div></timer>
    <timer interval="1000">{{seconds}} second{{secondsS}}.</timer>
    <div ng-repeat="question in questions" ng-if="currentQuestion == $index">
      <h3>{{ question.question }}</h3>
      <div ng-repeat="answer in question.trivia_answers">
        <div ng-click="answerQuestion(answer)">
          {{ answer.answer }}
        </div>
      </div>
    </div>
  </div>

  <div id="messages-<%= @chatroom.id %>" ng-controller="messagesCtrl" ng-init="setup(<%= @game.id %>)">
   <div ng-repeat="message in messages | orderBy: 'created_at'">
     {{ message.name }}: {{ message.body }}
   </div>

   <div>
      <label for="body">New message: </label>
      <form ng-submit="createNewMessage(newMessageBody, <%= current_competitor.id %>, <%= @chatroom.id %>)">
      <input type="text" name="body" ng-model="newMessageBody">
      </form>
      <input type="submit" ng-click="createNewMessage(newMessageBody, <%= current_competitor.id %>, <%= @chatroom.id %>)">
   </div>

  </div>
</div>