<i class="fa fa-gamepad trivia-icon" aria-hidden="true"></i><span class="main-color">Trivia</span> <span class="normal">Face</span><span class="main-color">Off</span>

<div ng-app="app">
  <div ng-controller="triviaCtrl" ng-init="setup(<%= @game.id %>, <%= @game.wager.id %>)">
    {{ message }}
    <timer interval="1000" countdown="60">{{countdown}}</timer>
   

<div>
    <div ng-repeat="question in questions" ng-if="currentQuestion == $index">
      <span class="main-color">{{ question.question }}</span>
      <h1></h1>
      <div ng-repeat="answer in question.trivia_answers" class="button-space">
        <div class="btn-border btn-primary">
          <span ng-click="answerQuestion(answer)" span class="btn btn-primary btn-lg">
            {{ answer.answer }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

    <timer countdown="60" interval="1000">
        Remaining time : {{countdown}} second{{secondsS}} ({{progressBar}}%). Activity? {{displayProgressActive}}
    <div id="custom-progress" class="progress progress-striped bar active" style="width: {{progressBar}}%; z-index: 100000;"></div> </div></timer>

  <div id="messages-<%= @chatroom.id %>" ng-controller="messagesCtrl" ng-init="setup(<%= @game.id %>)">
   <div ng-repeat="message in messages | orderBy: 'created_at'">
     {{ message.name }}: {{ message.body }}
   </div>

   <div>
      <label for="body">New message: </label>
      <form ng-submit="createNewMessage(newMessageBody, <%= current_competitor.id %>, <%= @chatroom.id %>)">
      <input type="text" name="body" ng-model="newMessageBody">
      </form>
      <input type="submit" ng-click="createNewMessage(newMessageBody, <%= current_competitor.id %>, <%= @chatroom.id %>)">
   </div>

  </div>
</div>