<h1>Add wager for <%= current_competitor.username %></h1>
<%= form_tag "/wagers/#{@wager.id}", method: :patch do %>
  Your Bet: <input type="text" name="bet">
  <input type="submit" value="Submit Wager!">
<% end %>

<div id="messages-<%= @chatroom.id %>" ng-controller="messagesCtrl" ng-init="setup(<%= @wager.game.id %>)">
 <div ng-repeat="message in messages | orderBy: 'created_at'">
   {{ message.name }}: {{ message.body }}
 </div>

 <div>
    <label for="body">New message: </label>
    <form ng-submit="createNewMessage(newMessageBody, <%= current_competitor.id %>, <%= @chatroom.id %>)">
    <input type="text" name="body" ng-model="newMessageBody">
    </form>
    <input type="submit" ng-click="createNewMessage(newMessageBody, <%= current_competitor.id %>, <%= @chatroom.id %>)">
 </div>

</div>