<script>
  setInterval(function(){
   $('#my_div').load('/path/to/server/source');
  }, 2000)
</script>
<h1 span class="main-color">Your 60 Seconds Are Up!</span></h1>
<div>
<% if @winner %>
  <h1 span class="main-color">The winner of the <%= @wager.bet %> is <%= @winner.username %>!</h1>
  <h4>Good showing <%= @loser.username %> but you lost! Cough up that <%= @wager.bet %>!</h4>
<% else %>
  <h1>Waiting for your challenger...</h1>
<% end %>
</div>

  <div id="messages-<%= @chatroom.id %>" ng-controller="messagesCtrl" ng-init="setup(<%= @wager.game.id %>)">
   <div ng-repeat="message in messages | orderBy: 'created_at'">
     {{ message.name }}: {{ message.body }} <a href="/trivias/<%= @wager.game.id %>" ng-if="message.body === 'The game has started!'">Click here to play the game!</a>
   </div>

   <div>
      <h2 span class="main-color" label for="body">1. Post-game Messaging: </label></h2>
      <h6>If you had fun, you won! But cashing in on that wager is nice too!</h6>
      <form ng-submit="createNewMessage(newMessageBody, <%= current_competitor.id %>, <%= @chatroom.id %>)">
      <input type="text" placeholder="Enter message" name="body" ng-model="newMessageBody">
      </form>
      <br>
      <input type="submit" value="send" ng-click="createNewMessage(newMessageBody, <%= current_competitor.id %>, <%= @chatroom.id %>)" span class="btn btn-primary btn-lrg">
   </div>
   <br>

  </div>

<div>
    <% if current_competitor == @winner && @loser %>
    <h2 span class="main-color">2. Did <%= @loser.username %> honor the bet?</span></h2>
    <h6>There's a special circle in hell for those who refuse to honor their wagers...</h6>
    <%= link_to "Yes", upvote_path(id: @wager.id,voter_id: current_competitor.id, loser_id: @loser.id), method: :post, class: "btn btn-success"  %>
    <%= link_to "No", downvote_path(id: @wager.id,voter_id: current_competitor.id, loser_id: @loser.id), method: :post, class: "btn btn-danger" %>
    <% end %>
 </div> 
 <br>  

<h2 span class="main-color">Make your challenger your friend or return to homepage</span></h2>
  <% if current_competitor == @winner && @loser %>
    <%= link_to  "Add Friend & Return to Profile", friendships_path(friend_id: @loser.id), method: :post, class: "btn btn-info" %>
  <% elsif current_competitor == @loser %>
    <%= link_to  "Add Friend & Return to Profile", friendships_path(friend_id: @winner.id), method: :post, class: "btn btn-info"%>
  <% end %>
<br>
<br>
  <%= link_to "Return to Homepage", root_path, class: "btn btn-warning" %>  
    