<script>
  setInterval(function(){
   $('#my_div').load('/path/to/server/source');
  }, 2000)
</script>
<div>
<% if @winner %>
  <h5>The winner of the <%= @wager.bet %> is <%= @winner.username %>!</h5>
  <h4>Hey <%= @loser.username %>! You lost! Cough up that <%= @wager.bet %>!</h4>
<% else %>
  <h1>Waiting for your challenger...</h1>
<% end %>
</div>

  <div id="messages-<%= @chatroom.id %>" ng-controller="messagesCtrl" ng-init="setup(<%= @wager.game.id %>)">
<!--   <div>
   <div ng-if="completed">
      <h5>The winner of the <%= @wager.bet %> is <%= @winner.username %>!</h5>
      <h4>Hey <%= @loser.username %>! You lost! Cough up that <%= @wager.bet %>!</h4>
    </div>
    <div ng-if="!completed">
      <h1>Waiting for your challenger...</h1>
    </div>
  </div> -->
   <div ng-repeat="message in messages | orderBy: 'created_at'">
     {{ message.name }}: {{ message.body }} <a href="/trivias/<%= @wager.game.id %>" ng-if="message.body === 'The game has started!'">Click here to play the game!</a>
   </div>

   <div>
      <label for="body">New message: </label>
      <form ng-submit="createNewMessage(newMessageBody, <%= current_competitor.id %>, <%= @chatroom.id %>)">
      <input type="text" name="body" ng-model="newMessageBody">
      </form>
      <input type="submit" ng-click="createNewMessage(newMessageBody, <%= current_competitor.id %>, <%= @chatroom.id %>)">
   </div>

  </div>

<div>
    <% if current_competitor == @winner && @loser %>
    <h2>Did <%= @loser.username %> honor the bet?</h2>
    <%= link_to "Yes", upvote_path(id: @wager.id,voter_id: current_competitor.id, loser_id: @loser.id), method: :post, class: "btn btn-success"  %>
    <%= link_to "No", downvote_path(id: @wager.id,voter_id: current_competitor.id, loser_id: @loser.id), method: :post, class: "btn btn-danger" %>
    <% end %>
 </div>   

  <% if current_competitor == @winner && @loser %>
    <%= link_to  "Add Friend & Return to Profile", friendships_path(friend_id: @loser.id), method: :post, class: "btn btn-info" %>
  <% elsif current_competitor == @loser %>
    <%= link_to  "Add Friend & Return to Profile", friendships_path(friend_id: @winner.id), method: :post, class: "btn btn-info"%>
  <% end %>
    