<% if @winner %>
  <h5>The winner of the <%= @wager.bet %> is <%= @winner.username %>!</h5>
  <h4>Hey <%= @loser.username %>! You lost! Cough up that <%= @wager.bet %>!</h4>
<% else %>
  <h1>Waiting for your challenger...</h1>
<% end %>


  <div id="messages-<%= @chatroom.id %>" ng-controller="messagesCtrl" ng-init="setup(<%= @wager.game.id %>)">
   <div ng-repeat="message in messages | orderBy: 'created_at'">
     {{ message.name }}: {{ message.body }}
   </div>

   <div>
      <label for="body">New message: </label>
      <form ng-submit="createNewMessage(newMessageBody, <%= current_competitor.id %>, <%= @chatroom.id %>)">
      <input type="text" name="body" ng-model="newMessageBody">
      </form>
      <input type="submit" ng-click="createNewMessage(newMessageBody, <%= current_competitor.id %>, <%= @chatroom.id %>)">
   </div>

  </div>

  <% if @winner %>
    <%= link to  %>
  <% end %>
    