<!DOCTYPE html>
<html lang="en" class="no-js">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="Ideal template for game-related websites (gaming, communities, clans, guilds, news and entertainment content) but also for technology, CV or personal pages. Smart and compact. It's able to completely meet your needs. Unique design will increase the value of your page!">
    <meta name="keywords" content="template, theme, html, css, bootstrap, game, event, culture, music, personal, cv">
    <meta name="author" content="Jakub Kwarciński">

    <title>Got60 - Wager. Play. Connect.</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P%7CLato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Lightbox styles -->
    <link href="/assets/lightbox2-master/dist/css/lightbox.min.css" rel="stylesheet">

    <!-- Loaders styles -->
    <link href="/assets/loaders.css-master/loaders.min.css" media="screen" rel="stylesheet" type="text/css">

    <!-- Template styles -->
    <link href="/css/yellow.min.css" media="screen" rel="stylesheet" type="text/css" title="yellow">
    <link href="/css/pink.min.css" media="screen" rel="alternate stylesheet" type="text/css" title="pink">
    <link href="/css/orange.min.css" media="screen" rel="alternate stylesheet" type="text/css" title="orange">
    <link href="/css/red.min.css" media="screen" rel="alternate stylesheet" type="text/css" title="red">
    <link href="/css/green.min.css" media="screen" rel="alternate stylesheet" type="text/css" title="green">
    <link href="/css/blue.min.css" media="screen" rel="alternate stylesheet" type="text/css" title="blue">

    <!-- Modernizr -->
    <script type="text/javascript" src="/js/modernizr-custom.min.js"></script>

    <!-- Favicon -->
    <link rel="icon" href="/img/favicon.png" type="image/png">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body data-spy="scroll" data-offset="122" data-target="#main-menu" data-skrollr="true" ng-app="app">

    <!-- Preloader -->
    <div class="loader-overlay">
        <div class="loader">
            <div class="loader-inner pacman">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <h3 class="loader-text">Loading</h3>
        </div>
    </div>

    <!-- Color switcher -->
    <div class="sidebar">
        <a class="sidebar-switcher" href="#" title="Color switcher">
            <i class="fa fa-gear"></i>
        </a>
        <div class="sidebar-content">
            <h4 class="sidebar-header">Color switcher</h4>
            <a href="#" class="color-switcher bg-yellow" data-color="yellow"></a>
            <a href="#" class="color-switcher bg-orange" data-color="orange"></a>
            <a href="#" class="color-switcher bg-pink" data-color="pink"></a>
            <a href="#" class="color-switcher bg-red" data-color="red"></a>
            <a href="#" class="color-switcher bg-green" data-color="green"></a>
            <a href="#" class="color-switcher bg-blue" data-color="blue"></a>
        </div>
    </div>

    <!-- Navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="triangle">
            <i class="fa fa-angle-double-down" aria-hidden="true"></i>
        </div>
        <!-- Topbar -->
        <div class="header-top clearfix">
            <div class="container">
                <ul class="list-inline social-links">
                    <li>
                        <a href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
                    </li><li class="hidden-xs">
                        <a href="#" title="Skype"><i class="fa fa-skype"></i></a>
                    </li><li class="hidden-xxs">
                        <a href="#" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
                    </li><li class="hidden-xxs">
                        <a href="#" title="Google +"><i class="fa fa-google-plus"></i></a>
                    </li><li>
                        <a href="#" title="Youtube"><i class="fa fa-youtube-play"></i></a>
                    </li><li>
                        <a href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
                    </li>
                </ul>
                <div class="header-top-dropdown">
                    <div class="btn-group dropdown">
                        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                            <span class="text"><i class="fa fa-search"></i> Search</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <form class="search-box" action="#">
                                    <div class="form-group has-feedback no-margin">
                                        <input type="text" class="form-control" placeholder="Search">
                                        <i class="fa fa-search form-control-feedback"></i>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group dropdown">
                        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                            <span class="text"><i class="fa fa-user"></i> Login</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <% if current_competitor %>
                                <span class="text"><i class="fa fa-user"></i> Logout</span>
                            <% else %>
                            <li>
                                <!-- <form class="login-form" action="#"> -->
                                <%= form_tag '/login', method: :post, class: "login-form" do %>
                                    <div class="form-group has-feedback">
                                        <input type="text" class="form-control" name="email" placeholder="Email">
                                        <i class="fa fa-user form-control-feedback"></i>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <input type="password" class="form-control" name="password" placeholder="Password">
                                        <i class="fa fa-lock form-control-feedback"></i>
                                    </div>
                                    <input type="submit" class="btn btn-primary btn-block" value="Log In">
                                    <% end %>
                                    <!-- <span class="text"> <i class="fa fa-arrow-right"></i></span> -->
                                    </input>
                                    <h3 class="text-center">or</h3>
                                    <a href="/signup"><button class="btn btn-primary btn-block">
                                        <span class="text">Sign Up <i class="fa fa-arrow-right"></i></span>
                                    </button></a>
                                   <!--  <p class="text-center"><a href="#" title="Reset password">Forgot your password?</a></p>
                                    <h3 class="text-center">Sign in with your social account</h3>
                                    <ul class="list-inline text-center">
                                        <li>
                                            <a href="#" title="Login with Facebook"><span class="icon-circle-small"><i class="fa fa-facebook"></i></span></a>
                                        </li><li>
                                            <a href="#" title="Login with Twitter"><span class="icon-circle-small"><i class="fa fa-twitter"></i></span></a>
                                        </li><li>
                                            <a href="#" title="Login with Google +"><span class="icon-circle-small"><i class="fa fa-google-plus"></i></span></a>
                                        </li>
                                    </ul> -->
                                <!-- </form> -->
                            </li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- Topbar end -->
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Logo -->
                <a class="navbar-brand" href="/" title="Got60">
                    <i class="fa fa-gamepad" aria-hidden="true"></i><span class="main-color">G</span>ot<span class="main-color">60</span>
                </a><!-- Logo end -->
            </div>
            <!-- Main menu -->
            <div class="collapse navbar-collapse" id="main-menu">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#home">
                            <span class="main-link">Home</span>
                            <span class="additional-info-link bracket">
                                start here
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#about">
                            <span class="main-link">Games</span>
                            <span class="additional-info-link bracket">
                                who we are
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="main-link">Profile <b class="caret"></b></span>
                            <span class="additional-info-link bracket">
                                extended info
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#timeline">Timeline</a>
                            </li>
                            <li>
                                <a href="#team">Team</a>
                            </li>
                            <li>
                                <a href="#flow">Getting started</a>
                            </li>
                            <li>
                                <a href="#faq">FAQ</a>
                            </li>
                            <li>
                                <a href="#pricing">Pricing</a>
                            </li>
                            <li>
                                <a href="#testimonials">Testimonials</a>
                            </li>
                            <li>
                                <a href="#requirements">Requirements</a>
                            </li>
                            <li>
                                <a href="#somefunnumbers">Some fun numbers</a>
                            </li>
                            <li>
                                <a href="#comingsoon">Coming Soon</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#partners">
                            <span class="main-link">Partners</span>
                            <span class="additional-info-link bracket">
                                business friends
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="main-link">Contact <b class="caret"></b></span>
                            <span class="additional-info-link bracket">
                                stay in touch
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#contact-details">Contact details</a>
                            </li>
                            <li>
                                <a href="#map">Map</a>
                            </li>
                            <li>
                                <a href="#send-us-message">Send us message</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div><!-- Main menu end -->
        </div>
    </div><!-- Navbar end -->


      <h1>Got 60!!!</h1>
    <div class="container top-margin">     
    <% flash.each do |name, message| %>
      <div class="alert alert-<%= name %> alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
       </button>
        <%= message %>
      </div>

      <% end %> 
    <%= yield %>
    </div>


    <!-- Footer -->
    <footer class="footer text-center" id="follow-us">
        <div class="container">
            <ul class="list-inline">
                <li>
                    <a href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="#" title="Twitter"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="#" title="Dribble"><i class="fa fa-dribbble"></i></a>
                </li>
                <li>
                    <a href="#" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                    <a href="#" title="RSS"><i class="fa fa-rss"></i></a>
                </li>
            </ul>
            <p> &copy; 2016 <a href="http://jakubkwarcinski.pl" title="Jakub Kwarciński - Frontend Developer">Jakub Kwarciński</a></p>
            <p class="text-center"><a href="http://www.freepik.com/free-photos-vectors/people">People vector designed by Freepik</a></p>
        </div>
    </footer>

    <!-- Scroll to top button -->
    <div id="toTop" class="to-top">
        <a href="#" class="To the top">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>

    <!-- Order modal -->
    <div class="modal fade" id="order-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Order form</h3>
                </div>
                <form method="post" action="#">
                    <div class="modal-body">
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sagittis leo ut sapien tristique adipiscing. Nunc vitae nisi id ipsum congue ullamcorper.</p>
                            <footer>Bill Archway <cite title="Source Title">100 games you must have</cite></footer>
                        </blockquote>
                        <div class="form-group has-feedback">
                            <label for="order-first-name">First Name:</label>
                            <input type="text" class="form-control" id="order-first-name" placeholder="Enter first name">
                            <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="order-last-name">Last Name:</label>
                            <input type="text" class="form-control" id="order-last-name" placeholder="Enter last name">
                            <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="order-email">Email:</label>
                            <input type="email" class="form-control" id="order-email" placeholder="Enter email">
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="order-phone">Phone:</label>
                            <input type="text" class="form-control" id="order-phone" placeholder="Enter phone">
                            <span class="glyphicon glyphicon-phone form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="order-company">Company:</label>
                            <input type="text" class="form-control" id="order-company" placeholder="Your company">
                            <span class="glyphicon glyphicon-home form-control-feedback"></span>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Yes, I want to get the newsletter
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Order now</button><button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script type="text/javascript" src="/js/jquery-3.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script type="text/javascript" src="/assets/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>

    <!-- Lightbox -->
    <script type="text/javascript" src="/assets/lightbox2-master/dist/js/lightbox.min.js"></script>

    <!-- morris charts -->
    <script type="text/javascript" src="/assets/morris.js-0.5.1/morris.min.js"></script>

    <!-- jQuery parallax -->
    <script type="text/javascript" src="/js/jquery.parallax-1.1.3-min.js"></script>

    <!-- jQuery countdown -->
    <script type="text/javascript" src="/js/countdown.min.js"></script>

    <!-- skrollr -->
    <script type="text/javascript" src="/js/skrollr.min.js"></script>

    <!-- raphael -->
    <script src="/js/raphael.min.js"></script>

    <!-- particles -->
    <script src="/js/TweenLite.min.js"></script>
    <script src="/js/EasePack.min.js"></script>
    <script src="/js/rAF.min.js"></script>
    <script src="/js/particles.min.js"></script>

    <!-- Custom javascript -->
    <script type="text/javascript" src="/js/custom.min.js"></script>

    <!-- Main page javascript -->
    <script type="text/javascript" src="/js/main.min.js"></script>

    <!-- Google maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEspZc-GBwxrJtw4vS3GjhAzIv7gHVbXw&callback=initMap"></script>

    
    <h1>Contact me at mjyatco@gmail.com</h1>
  </body>
</html>

